.toggle-nav {
  position: fixed;
  z-index: 5;
  right: 0;
  top: 82px;
  background-color: rgba(238, 231, 228, 1);
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  border: 1px solid black;
  padding: 40px;

  span {
    padding: 10px 10px 0px 10px;
    font-size: 1.1rem;
    font-weight: bold;
  }
}
@media only screen and (min-width: 768px) {
  .disable-desktop {
    display: none;
  }
}
