.about-page {
  width: 100vw;
  //   background-image: url("https://res.cloudinary.com/gaseir526-tashiono/image/upload/v1597813730/LibreLibro%20Assets/aleksei-ieshkin-books-unsplash_yfr58j.jpg");
  //   background-position: cover;
  //   background-repeat: no-repeat;

  .about-page-text {
    //   position: absolute;
    //   top: 100px;
    //   text-align: center;
    //   width: 80vw;
    margin: 100px auto;
    padding: 50px;
    text-align: justify;
    // color: #645a35;
    color: white;
    font-weight: bold;

    // h1 {
    //   color: white;
    // }
  }
}

@media only screen and (min-width: 768px) {
  .about-page-text {
    width: 500px;
  }
}
