.about-page {
  width: 100vw;
    margin: 100px auto;
    padding: 50px;
    text-align: justify;
    color: white;
    font-weight: bold;
  }
}

@media only screen and (min-width: 768px) {
  .about-page-text {
    width: 500px;
  }
}
