.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0;
  height: 80px;
  z-index: 5;
  border: 1px solid black;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  background-color: #616148;
  background-image: url("https://www.transparenttextures.com/patterns/black-mamba.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  color: white;
  font-size: 0.8rem;
  padding: 5px;
  span a {
    color: white;
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 500px) {
  .footer {
    width: 100vw;
  }
}

@media only screen and (min-width: 1280px) {
  .footer {
  }
}
