html {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #7fbe68;
  background-image: url("https://www.transparenttextures.com/patterns/ag-square.png");
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  margin: 0;
}
