.library-list-container {
  margin-bottom: 100px;

  #library-list {
    padding: 10px;
    border: 8px solid #db854f;
    width: auto;
    margin: 20px auto 100px;
    height: 100px;
    background-color: #aadaff;
    font-weight: bold;
    overflow-y: hidden;
    &:hover {
      overflow-y: scroll;
    }

    .single-library {
      display: grid;
      grid-template-columns: 1fr, 1fr;
      grid-template-rows: auto;
      grid-template-areas: "name location";
      column-gap: 2px;

      .library-name {
        grid-area: name;
        justify-self: start;
      }

      .library-city-state {
        grid-area: location;
        justify-self: end;
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  #library-list {
    max-width: 300px;
  }
}

@media only screen and (min-width: 600px) {
  #library-list {
    max-width: 400px;
  }
}
